@charset utf-8;

@font-face { font-family: "<FONT>"; src: url(Regular.ttf); }

@font-face { font-family: "<FONT>"; src: url(Italic.ttf); font-style: italic; }

@font-face { font-family: "<FONT>"; src: url(Bold-Italic.ttf); font-weight: bold; font-style: italic; }

@font-face { font-family: "<FONT>"; src: url(Bold.ttf); font-weight: bold; }

*{font-family:"<FONT>", sans-serif;background:#FFE0AA;color:#666666;}
body, html{height:100%;background:#FFE0AA;}
h1{text-align:center;}
h2{text-align:center;}
h3{text-align:center;}
img{max-width:100%;height:auto;display:block;margin:0 auto;}
.elypsys{text-align:center;font-weight:bold;}
.block{text-align:left;margin-top:1em;margin-bottom:1em;}
.italic{font-family:"<FONT>", sans-serif;font-style: italic;}
.bitalic{font-family:"<FONT>", sans-serif;font-style: italic;font-weight:bold;}

.credits{position:fixed;bottom:10px;left:10px;}

/*Content Page List only*/
ol{background:#D1AF6C;padding-top:15px;padding-bottom:15px; border:#BC852D 1px solid; border-radius:10px; }
ol *{background:#D1AF6C;color:#ffffff !important;}
ol li{padding:5px;width:calc(100% - 20px);}
ol li a{}

p{font-weight:100;font-style:normal;}
p i{font-weight:100;font-style:italic;}
p b{font-weight:400;font-style:normal;}
p i b{font-weight:400;font-style:italic;}
p b i{font-weight:400;font-style:italic;}