@charset utf-8;

@font-face {
	font-family: "Century Gothic";
	src: url(Century-Gothic.ttf)
}

@font-face {
	font-family: "Century Gothic";
	src: url(Century-Gothic-Italic.ttf);
	font-style: italic
}

@font-face {
	font-family: "Century Gothic";
	src: url(Century-Gothic-Bold-Italic.ttf);
	font-weight: bold;
	font-style: italic
}

@font-face {
	font-family: "Century Gothic";
	src: url(Century-Gothic-Bold.ttf);
	font-weight: bold
}

*{font-family:"Century Gothic", sans-serif;}
h1{text-align:center;}
h2{text-align:center;}
h3{text-align:center;}
img{max-width:100%;height:auto;display:block;margin:0 auto;}
.elypsys{text-align:center;font-weight:bold;}
.block{text-align:left;margin-top:1em;margin-bottom:1em;}
.italic{font-family:"Century Gothic", sans-serif;font-style: italic;}
.bitalic{font-family:"Century Gothic", sans-serif;font-style: italic;font-weight:bold;}

.credits{position:fixed;bottom:10px;left:10px;}